div:hover{
  border: 10px solid lime;
}
.div1{
  background-color: maroon;
}
.div2{
  background-color: mediumaquamarine;
}
.div3{
  background-color: mediumblue;
}
.div4{
  background-color: mediumorchid;
}
.div5{
  background-color: midnightblue;
}